@charset 'utf-8';

.tab-item {
  display: flex;
  justify-content: center;

  background-color: $base-color-light;

  padding: 0.5rem 1.25rem;

  border-radius: $border-radius-md;

  &:hover{
    cursor: pointer;
    background-color: $gray-color-50;
  }

  &--active{
    background-color: $secondary-color-50;
    color: $secondary-color-600;
  }
}